{% extends "series/base.html" %}
{% block content %}
<div class="row">
    {% for object in seasons %}
   <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <a href="{% url 'episodes' object.id %}"><h2>&nbsp;&nbsp;&nbsp;&nbsp;{{object.name}}</h2></a><br>
            <img src="{{object.image.url}}">
            <br><br>
        </div>
    <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <br>
            <p>{{object.content}}</p>
            <p class="post-text"> Posted in {{object.time_posted}}</p>
        </div>

    {% endfor %}
</div>
{% endblock content %}
